jupyter
{% if cookiecutter.jupyterlab == "Yes" -%}
jupyterlab
{% endif -%}
pandas
matplotlib
seaborn
{% if cookiecutter.project_type not in ["EDA", "ML-Pytorch", "ML-Tensorflow"] -%}
scikit-learn
{% endif -%}
{% if cookiecutter.project_type not in ["EDA", "ML-Scikit Learn", "ML-Tensorflow"] -%}
torch
{% endif -%}
{% if cookiecutter.project_type not in ["EDA", "ML-Scikit Learn", "ML-Pytorch"] -%}
tensorflow
{% endif -%}